:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;

  --accent-bg-color: #e5e5e5;
  --dark-bg-color: #2f303a;
  --white-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;

  --title-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--title-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  /*display: flex;*/
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*HIDDEN TITLES*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* SITE NAV */
.header .container {
  display: flex;
  align-items: center;
}

.main-item:not(:last-child) {
  margin-right: 50px;
}

.main-nav {
  align-items: center;
}

.site-nav {
  display: inline-flex;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

/* AUTH NAV */
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 48px;
}

.auth-nav .link {
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text-color);
}

.address {
  font-style: inherit;
  color: var(--white-text-color);
}
.address-link {
  color: var(--white-text-color);
}
.connect {
  color: rgba(255, 255, 255, 0.6);
}

.page-title {
  display: block;
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: var(--dark-bg-color);
  margin-bottom: 30px;
}
.hiden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-title {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

/* FEATURE */

.feature-list .item {
  width: 270px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-title {
  padding-bottom: 10px;
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.paragraf-text {
  font-family: var(--title-font);
}
/* WE DO */

.we-do .item {
  width: 370px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-name {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}
.profession-text {
  font-family: var(-title-font);
  font-size: 16px;
  line-height: 1.18;
}

/* GALLERY */

.gallery-nav .item {
  width: auto;
  padding-top: 94px;
  padding-bottom: 50px;
}

.gallery-progect {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-bottom: 20px;
}

.gallery-progect .item {
  flex-basis: calc((100% - 3 * 90px) / 3);
}
.gallery-progect:nth-child(3n) {
  margin-right: 0;
}
.gallery-title {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.gallery-text {
  font-family: var(--title-font);
  font-size: 16px;
  line-height: 1.87;
}

/* Button */

.button-order {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 10px, 32px;

  color: var(--white-text-color);
  background-color: var(--accent-text-color);

  font-family: var(--title-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  text-align: center;
  cursor: pointer;
}

.button-nav:hover,
.button-nav:focus {
  background-color: var(--accent-text-color);
}
.button-nav {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--second-bg-color);
  padding: 6px, 22px;
}
.hero {
  text-align: center;
  background-color: var(--dark-bg-color);
  padding-top: 200px;
  padding-bottom: 280px;
}
.dark-background {
  background-color: var(--dark-bg-color);
}

.white-background {
  background-color: var(--white-bg-color);
}
.second-bg-color {
  background-color: var(--second-bg-color);
}
/* Logo Website header*/
.logo-header {
  color: var(--title-text-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
  display: inline-block;
}
/* Logo Website footer*/
.logo-footer {
  color: var(--white-text-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.colortext {
  color: var(--accent-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}
